.header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}
.header-logo {
    background: url('../images/logo.png');
    width: 125px;
    height: 100px;
}
.header-logo:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
.display-4 {
    font-size: 2.5rem;
}
@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.sticky {
    position: fixed;
    top: 0;    
    width: 100%; 
    z-index: 36;
    opacity: .97;
}
.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}
.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}
.flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}
.h-250 { height: 250px; }
@media (min-width: 768px) {
    .h-md-250 { height: 250px; }
}
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.footer {    
    padding: 2.5rem 0;
    color: #999;
    text-align: left;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.footer p:last-child {
    margin-bottom: 0;
}
.cut-text { 
    width : 280px;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.title {
    font-size: 2.5rem;
}
.children-node {
    list-style: none;
    padding: 0;
    margin-left: 10px;
}
.carousel-caption {
    position: absolute;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;
}
.carousel-caption div {
    display:table-cell;
    vertical-align: middle;
    text-align:center;
}
.trickcenter {
    position: fixed;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.transbox:before {
    content: ' ';
    display: block;
    position: relative;
    background-image: url(https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png);
    opacity: 0.12; 
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}
img.img-caruusel {
    opacity: 0.5; 
}
.social, .locale {
    margin-top: 70px;
}
.social a {
    color: #cd201f;
}
.social a:hover {
    color: #6c757d;
}
.social-footer a {
    color: #2E8B57;
}
.social-footer a:hover {
    color: #6c757d;
}
#accordion .btn-link {
    color: #0db896;
}
#accordion .btn-link:hover {
    text-decoration: none;  
    color: #6c757d;
    width: 100%;
    background-color: #eee;
    text-align: left;
}
#accordion .btn-link:enabled {
    text-decoration: none;    
}
#accordion .card-header {
    border-bottom: none;
}
#accordion .card-body {
    
}